            /*Style général*/
/***********************************************/

body {
    background-image: url("../Images/Objet_deco/parchemin.jpg");
    background-size: cover;
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    position: sticky;
    top: 1%;
}

p {
    font-size: 30px;
}
.dialogue_joueur {
    text-align: right;
}

/*Style majoritée des boutons*/
input.redirection, button.redirection{
    display: inline-block;
    background-color: rgb(107, 107, 107);
    border: 5px #666666 outset;
    border-radius: 15px;
    font-size: 25px;
    font-family: monospace;
    transition: all 0.2s;
}
input.redirection:hover, button.redirection:hover {
    font-size: 35px;
    background-color: #555555;
    border-color: #454545;
}

/*Style bouton image*/
.picture {
    display: inline-block;
    height: 300px;
    width: 300px;
    transition: all 0.2s;
}
input.picture:hover {
    height: 325px;
    width: 325px;
}

.none {
    display: none;
}

            /*Style de la page index*/
/***********************************************/

h1.index {
    margin-top: 20%;
    font-size: 6em;
}

form.index {
    text-align: center;
}

input.index {
    font-size: 2.5em;
}
input.index:hover {
    font-size: 2.8em;
}

            /*Style de la carte*/
/***********************************************/

form.ile_sur_carte, p.ile_sur_carte {
    margin: 2em;
}
p.before_ile_fin {
    display: inline-block;
    width: 300px;
    text-align: center;
}
img.bateau {
    width: 300px;
    height: 300px;
}

            /*Style de l'île sanctuaire*/
/***********************************************/

body.ile_sanctuaire{
    background-image: url("../Images/Ile/ile_sanctuaire_proche.png");
    background-size: cover;
}
img.item {
    display: inline;
    opacity: 0;
}
img.item:hover {
    opacity: 100;
    size: 50px;
}

.pierre {
    display: inline-block;
    margin-left: -50px;
    margin-top: 10%;
    width: 400px;
    height: 400px;
}

.tablette {
    display: inline-block;
    margin-left: 15%;
    margin-top: 10%;
    width: 200px;
    height: 200px;
}

            /*Style de l'île casse-tête*/
/***********************************************/

body.ile_casse-tete {
    background-image: url("../Images/Ile/ile_casse-tete_proche.png");
    background-size: cover;
}
body.casse-tete {
    min-height: 100hv;
    overflow: hidden;
}

/*style jeu de taquin*/
div.game {
    display: inline-block;
}

#grid {
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 10px;
    padding: 10px;
    border: rgb(90, 90, 90) solid 8px;
    border-radius: 2%;
    background: rgb(255, 255, 255, 0.5);
}

.item {
    width: 100px;
    height: 100px;
    border-radius: 4%;
    background: #606060;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}
.item:hover {
    font-size: 40px;
}

.empty {
    width: 100px;
    height: 100px;
    border-radius: 4%;
    background: #606060;
}

            /*Style de l'île fantome*/
/***********************************************/

body.ile_fantome {
    background-image: url("../Images/Ile/ile_fantome_proche.png");
    background-size: cover;
}

            /*Style de l'île finale*/
/***********************************************/

body.ile_fin {
    background-image: url("../Images/Ile/ile_finale_proche.png");
    background-size: cover;
}

            /*Style de l'île interactions*/
/***********************************************/

body.ile_interactions {
    background-image: url("../Images/Ile/ile_interactions_proche.png");
    background-size: cover;
}